.header {
    padding: 0 6.25rem; 
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}